:root {
  --color-primary-a0:#ffffff;
  --color-primary-a10:#8a8a8a;
  --color-primary-a50:#262626;
  --color-primary-a60:#171717;
  --color-primary-a70:#000000;   

  --color-text-white: #ffffff;  
  
  --size-global-container: 1920px;   
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-a50);
  margin: 0;
  color: var(--color-text-white);

  overflow: hidden;
}

.globalContainer {
  position: relative;
  max-width: var(--size-global-container);
  margin: 0 auto;
}